.speech {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
  }
.direction{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: black;
    background-color: aqua;
  }
.direction:hover{
  color:lightcoral;
  background-color: lawngreen;
   }
.ROSA
  {
        color: palevioletred;
  }
.FRAULINDEMANN{
  color:purple
        }
        .STRÜBEL{
   color:brown
      }
table,th,td{
  border: 1.5px solid;
  border-collapse: collapse;
  text-align: center;
  color: seagreen;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
tr:nth-child(3){
  background-color: blanchedalmond;
}
tr:nth-child(even){
  background-color:lightpink;
}
.ROSA:hover{
background-color: steelblue;
color: blueviolet;
text-shadow: 2px 2px 1px green;
border: 1px solid aquamarine;
}
.FRAULINDEMANN:hover{
  background-color: steelblue;
  color: blueviolet;
  text-shadow: 2px 2px 1px green;
  border: 1px solid aquamarine;
  }
  .STRÜBEL:hover{
    background-color: steelblue;
  color: blueviolet;
  text-shadow: 2px 2px 1px green;
  border:1px solid aquamarine;

  }



ul.navbar-horizontal{
  display:flex;
   
}
ul li{
  margin: 10px;
  padding: 20px;
  list-style: none;
}
li a{
  text-decoration: none;
  background-color: lightgreen;
}